.vn-border {
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--border-color);
}

.vn-border-top {
	border-top-style: solid;
	border-top-width: var(--border-width);
	border-top-color: var(--border-color);
}

.vn-border-right {
	border-right-style: solid;
	border-right-width: var(--border-width);
	border-right-color: var(--border-color);
}

.vn-border-bottom {
	border-bottom-style: solid;
	border-bottom-width: var(--border-width);
	border-bottom-color: var(--border-color);
}

.vn-border-left {
	border-left-style: solid;
	border-left-width: var(--border-width);
	border-left-color: var(--border-color);
}

.vn-border-none {
	border: 0;
}

.vn-rounded {
	border-radius: var(--border-radius);
}
.vn-circle {
	border-radius: 50%;
}

.vn-rounded-top {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.vn-rounded-right {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.vn-rounded-bottom {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.vn-rounded-left {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.vn-not-rounded {
	border-radius: 0;
}
