.vn-p0 {
	padding: 0;
}

.vn-p1 {
	padding: var(--space-1);
}
.vn-py1 {
	padding-top: var(--space-1);
	padding-bottom: var(--space-1);
}
.vn-px1 {
	padding-left: var(--space-1);
	padding-right: var(--space-1);
}

.vn-p2 {
	padding: var(--space-2);
}
.vn-py2 {
	padding-top: var(--space-2);
	padding-bottom: var(--space-2);
}
.vn-px2 {
	padding-left: var(--space-2);
	padding-right: var(--space-2);
}

.vn-p3 {
	padding: var(--space-3);
}
.vn-py3 {
	padding-top: var(--space-3);
	padding-bottom: var(--space-3);
}
.vn-px3 {
	padding-left: var(--space-3);
	padding-right: var(--space-3);
}

.vn-p4 {
	padding: var(--space-4);
}
.vn-py4 {
	padding-top: var(--space-4);
	padding-bottom: var(--space-4);
}
.vn-px4 {
	padding-left: var(--space-4);
	padding-right: var(--space-4);
}

.vn-m0 {
	margin: 0;
}
.vn-mt0 {
	margin-top: 0;
}
.vn-mr0 {
	margin-right: 0;
}
.vn-mb0 {
	margin-bottom: 0;
}
.vn-ml0 {
	margin-left: 0;
}

.vn-m1 {
	margin: var(--space-1);
}
.vn-mt1 {
	margin-top: var(--space-1);
}
.vn-mr1 {
	margin-right: var(--space-1);
}
.vn-mb1 {
	margin-bottom: var(--space-1);
}
.vn-ml1 {
	margin-left: var(--space-1);
}

.vn-m2 {
	margin: var(--space-2);
}
.vn-mt2 {
	margin-top: var(--space-2);
}
.vn-mr2 {
	margin-right: var(--space-2);
}
.vn-mb2 {
	margin-bottom: var(--space-2);
}
.vn-ml2 {
	margin-left: var(--space-2);
}

.vn-m3 {
	margin: var(--space-3);
}
.vn-mt3 {
	margin-top: var(--space-3);
}
.vn-mr3 {
	margin-right: var(--space-3);
}
.vn-mb3 {
	margin-bottom: var(--space-3);
}
.vn-ml3 {
	margin-left: var(--space-3);
}

.vn-m4 {
	margin: var(--space-4);
}
.vn-mt4 {
	margin-top: var(--space-4);
}
.vn-mr4 {
	margin-right: var(--space-4);
}
.vn-mb4 {
	margin-bottom: var(--space-4);
}
.vn-ml4 {
	margin-left: var(--space-4);
}

.vn-mxn1 {
	margin-left: -var(--space-1);
	margin-right: -var(--space-1);
}
.vn-mxn2 {
	margin-left: -var(--space-2);
	margin-right: -var(--space-2);
}
.vn-mxn3 {
	margin-left: -var(--space-3);
	margin-right: -var(--space-3);
}
.vn-mxn4 {
	margin-left: -var(--space-4);
	margin-right: -var(--space-4);
}

.vn-mx-auto {
	margin-left: auto;
	margin-right: auto;
}
