/* Basscss Positions */

.vn-relative {
	position: relative;
}
.vn-absolute {
	position: absolute;
}
.vn-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.vn-fixed {
	position: fixed;
}

.vn-top-0 {
	top: 0;
}
.vn-right-0 {
	right: 0;
}
.vn-bottom-0 {
	bottom: 0;
}
.vn-left-0 {
	left: 0;
}

.vn-z1 {
	z-index: var(--z1);
}
.vn-z2 {
	z-index: var(--z2);
}
.vn-z3 {
	z-index: var(--z3);
}
.vn-z4 {
	z-index: var(--z4);
}
